NodeRed-AiFarmingflows1.json
[{"id":"5eb07143.d2382","type":"tab","label":"AutoAiFarming1","disabled":false,"info":"My web Application for Auto Ai machine learning model which predicts production by taking state,district,land area,season,crop and year as inputs."},{"id":"2a4514fb.b4d79c","type":"tab","label":"IoT Integration1","disabled":false,"info":""},{"id":"441df5f0.f3fa9c","type":"tab","label":"Basic Node Red Flow-11","disabled":false,"info":""},{"id":"ad1be95c.6e3808","type":"tab","label":"Basic Node Red Flow-21","disabled":false,"info":"Visualisation dashboard\n"},{"id":"836d8634.cf4978","type":"ui_tab","name":"DashBoard","icon":"dashboard","disabled":false,"hidden":false},{"id":"b177dd8c.4d5ea","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#00cc0e","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#00cc0e","edited":true},"page-titlebar-backgroundColor":{"value":"#00cc0e","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1aff29","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#00cc0e","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5de5f15f.5748e","type":"ui_group","name":"visualisation","tab":"836d8634.cf4978","order":1,"disp":true,"width":"6","collapse":false},{"id":"96f2a10e.e42","type":"ui_group","name":"Enter Input","tab":"ccbd280f.571818","order":2,"disp":true,"width":30,"collapse":false},{"id":"ccbd280f.571818","type":"ui_tab","name":"Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"e1ba9bf1.1771c8","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"aa0d29b4.785a58","type":"ui_group","name":"Enter The values","tab":"e1ba9bf1.1771c8","order":1,"disp":true,"width":9,"collapse":false},{"id":"204b2143.297bde","type":"wiotp-credentials","name":"IBM IoT","org":"","serverName":"","devType":"new","devId":"30558","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"d3350088.856d1","type":"ui_group","name":"Audio","tab":"dd346b45.31a8e8","order":3,"disp":true,"width":"8"},{"id":"fc1bc5b0.bcac58","type":"ui_group","name":"Conversation","tab":"dd346b45.31a8e8","order":4,"disp":true,"width":"8"},{"id":"dd346b45.31a8e8","type":"ui_tab","name":"TJBot","icon":"dashboard","order":4},{"id":"5a56328e.43af1c","type":"ibmiot","name":"IBM IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b1b11140.4e4ef","type":"inject","z":"441df5f0.f3fa9c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":131,"y":61,"wires":[["97d1018b.e89a4","c1188bdb.a77038"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"441df5f0.f3fa9c","name":"","active":true,"console":"false","complete":"false","x":690,"y":60,"wires":[]},{"id":"97d1018b.e89a4","type":"function","z":"441df5f0.f3fa9c","name":"","func":"var date = new Date(msg.payload)\nmsg.payload = date.toString()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[["f2f2649a.0d0d98"]]},{"id":"c1188bdb.a77038","type":"http request","z":"441df5f0.f3fa9c","name":"Recent EarthQuakes","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":160,"y":180,"wires":[["d07163d8.3396a"]]},{"id":"d07163d8.3396a","type":"csv","z":"441df5f0.f3fa9c","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":330,"y":180,"wires":[["76121ea4.9e751"]]},{"id":"76121ea4.9e751","type":"switch","z":"441df5f0.f3fa9c","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":180,"wires":[["98c031f2.44c1d","7e3f3d89.5e3b14"]]},{"id":"98c031f2.44c1d","type":"change","z":"441df5f0.f3fa9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Panic","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["f2f2649a.0d0d98"]]},{"id":"7e3f3d89.5e3b14","type":"debug","z":"441df5f0.f3fa9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.mag","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"c028c0.21f6c74","type":"inject","z":"ad1be95c.6e3808","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":140,"wires":[["a7673e34.9b42d"]]},{"id":"a7673e34.9b42d","type":"function","z":"ad1be95c.6e3808","name":"","func":"msg.payload = Math.round(Math.random()*100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["29db75b8.293f7a","d1a058f2.5b07f8"]]},{"id":"29db75b8.293f7a","type":"debug","z":"ad1be95c.6e3808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"d1a058f2.5b07f8","type":"ui_chart","z":"ad1be95c.6e3808","name":"","group":"5de5f15f.5748e","order":0,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d52a2a","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":220,"wires":[[]]},{"id":"c2782ebf.d5cea","type":"ui_text_input","z":"441df5f0.f3fa9c","name":"","label":"","tooltip":"","group":"96f2a10e.e42","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":130,"y":380,"wires":[["321d8c7a.5e3f64"]]},{"id":"321d8c7a.5e3f64","type":"ui_text","z":"441df5f0.f3fa9c","group":"96f2a10e.e42","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":380,"wires":[]},{"id":"2a66c7b0.103248","type":"ui_button","z":"441df5f0.f3fa9c","name":"","group":"96f2a10e.e42","order":3,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello!","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":440,"wires":[["321d8c7a.5e3f64"]]},{"id":"4d567048.daf0f","type":"ui_form","z":"441df5f0.f3fa9c","name":"","label":"Enter Details","group":"96f2a10e.e42","order":1,"width":0,"height":0,"options":[{"label":"Name:","value":"n","type":"text","required":true,"rows":null},{"label":"State","value":"s","type":"text","required":true,"rows":null}],"formValue":{"n":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":130,"y":500,"wires":[["8aadc57.02f5c38","541f869e.0b2d08"]]},{"id":"541f869e.0b2d08","type":"ui_text","z":"441df5f0.f3fa9c","group":"96f2a10e.e42","order":4,"width":0,"height":0,"name":"","label":"Name is","format":"{{msg.payload.n}}","layout":"row-spread","x":320,"y":440,"wires":[]},{"id":"8aadc57.02f5c38","type":"ui_text","z":"441df5f0.f3fa9c","group":"96f2a10e.e42","order":5,"width":0,"height":0,"name":"","label":"State is","format":"{{msg.payload.s}}","layout":"row-spread","x":320,"y":500,"wires":[]},{"id":"ba08d08d.f69ff","type":"ui_form","z":"5eb07143.d2382","name":"","label":"","group":"aa0d29b4.785a58","order":3,"width":0,"height":0,"options":[{"label":"District_Name","value":"dn","type":"text","required":true,"rows":null},{"label":"Crop_Year","value":"cy","type":"number","required":true,"rows":null},{"label":"Crop","value":"cr","type":"text","required":true,"rows":null},{"label":"Area","value":"ar","type":"number","required":true,"rows":null}],"formValue":{"dn":"","cy":"","cr":"","ar":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":240,"y":260,"wires":[["d77d784c.9b52a8"]]},{"id":"9b54f45c.7a90a8","type":"ui_dropdown","z":"5eb07143.d2382","name":"","label":"Season","tooltip":"","place":"Select option","group":"aa0d29b4.785a58","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"},{"label":"Kharif","value":"Kharif","type":"str"},{"label":"Whole Year","value":"Whole Year","type":"str"},{"label":"Rabi","value":"Rabi","type":"str"},{"label":"Autumn","value":"Autumn","type":"str"},{"label":"Summer","value":"Summer","type":"str"},{"label":"Winter","value":"Winter","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":240,"y":380,"wires":[["1bb81a58.64d6a6"]]},{"id":"b903f117.6431b","type":"ui_dropdown","z":"5eb07143.d2382","name":"","label":"State","tooltip":"","place":"Select option","group":"aa0d29b4.785a58","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"},{"label":"Andaman and Nicobar Islands","value":"Andaman and Nicobar Islands","type":"str"},{"label":"Andhra Pradesh","value":"Andhra Pradesh","type":"str"},{"label":"Arunachal Pradesh","value":"Arunachal Pradesh","type":"str"},{"label":"Assam","value":"Assam","type":"str"},{"label":"Bihar","value":"Bihar","type":"str"},{"label":"Chandigarh","value":"Chandigarh","type":"str"},{"label":"Chhattisgarh","value":"Chhattisgarh","type":"str"},{"label":"Dadra and Nagar Haveli","value":"Dadra and Nagar Haveli","type":"str"},{"label":"Goa","value":"Goa","type":"str"},{"label":"Gujarat","value":"Gujarat","type":"str"},{"label":"Haryana","value":"Haryana","type":"str"},{"label":"Himachal Pradesh","value":"Himachal Pradesh","type":"str"},{"label":"Jammu and Kashmir","value":"Jammu and Kashmir","type":"str"},{"label":"Jharkhand","value":"Jharkhand","type":"str"},{"label":"Karnataka","value":"Karnataka","type":"str"},{"label":"Kerala","value":"Kerala","type":"str"},{"label":"Madhya Pradesh","value":"Madhya Pradesh","type":"str"},{"label":"Maharastra","value":"Maharastra","type":"str"},{"label":"Manipur","value":"Manipur","type":"str"},{"label":"Meghalaya","value":"Meghalaya","type":"str"},{"label":"Mizoram","value":"Mizoram","type":"str"},{"label":"Nagaland","value":"Nagaland","type":"str"},{"label":"Odisha","value":"Odisha","type":"str"},{"label":"Puducherry","value":"Puducherry","type":"str"},{"label":"Punjab","value":"Punjab","type":"str"},{"label":"Rajasthan","value":"Rajasthan","type":"str"},{"label":"Sikkim","value":"Sikkim","type":"str"},{"label":"Tamil Nadu","value":"Tamil Nadu","type":"str"},{"label":"Telangana","value":"Telangana","type":"str"},{"label":"Tripura","value":"Tripura","type":"str"},{"label":"Uttar Pradesh","value":"Uttar Pradesh","type":"str"},{"label":"Uttarakhand","value":"Uttarakhand","type":"str"},{"label":"West Bengal","value":"West Bengal","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":230,"y":320,"wires":[["2ad93947.28e746"]]},{"id":"173b5e05.c806a2","type":"debug","z":"5eb07143.d2382","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"e7a73562.0ead88","type":"debug","z":"5eb07143.d2382","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":320,"wires":[]},{"id":"869e4f4a.fe04e","type":"debug","z":"5eb07143.d2382","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":380,"wires":[]},{"id":"d77d784c.9b52a8","type":"function","z":"5eb07143.d2382","name":"Global Variables for Form","func":"global.set(\"district\",msg.payload.dn)\nglobal.set(\"year\",msg.payload.cy)\nglobal.set(\"crop\",msg.payload.cr)\nglobal.set(\"area\",msg.payload.ar)\nvar apikey=\"LrB2bgEF3viMzSViyk7k5W7EEOunKogQXq3JQCosn26p\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":260,"wires":[["173b5e05.c806a2","7aa88a8b.a1f2e4"]]},{"id":"2ad93947.28e746","type":"function","z":"5eb07143.d2382","name":"Global Variable for state","func":"global.set(\"state\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":320,"wires":[["e7a73562.0ead88"]]},{"id":"1bb81a58.64d6a6","type":"function","z":"5eb07143.d2382","name":"Global Variable for Season","func":"global.set(\"season\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["869e4f4a.fe04e"]]},{"id":"7aa88a8b.a1f2e4","type":"http request","z":"5eb07143.d2382","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":180,"wires":[["80a6b226.b5909","57129a65.e14cb4"]]},{"id":"80a6b226.b5909","type":"debug","z":"5eb07143.d2382","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":260,"wires":[]},{"id":"57129a65.e14cb4","type":"function","z":"5eb07143.d2382","name":"","func":"var state=global.get(\"state\")\nvar district=global.get(\"district\")\nvar year=global.get(\"year\")\nvar season=global.get(\"season\")\nvar crop=global.get(\"crop\")\nvar area=global.get(\"area\")\nvar token=msg.payload.access_token\nmsg.headers={\"content-Type\":'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"State_Name\",\"District_Name\",\"Crop_Year\",\"Season\",\"Crop\",\"Area\"]],\"values\":[[state,district,year,season,crop,area]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":180,"wires":[["41db5ae2.6facd4"]]},{"id":"41db5ae2.6facd4","type":"http request","z":"5eb07143.d2382","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://jp-tok.ml.cloud.ibm.com/ml/v4/deployments/304f4e05-3809-4703-a1a3-11ac98ba1a40/predictions?version=2021-08-23","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":180,"wires":[["e9013411.1c6508","10d9ccee.f8e963"]]},{"id":"e9013411.1c6508","type":"debug","z":"5eb07143.d2382","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":260,"wires":[]},{"id":"10d9ccee.f8e963","type":"function","z":"5eb07143.d2382","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":180,"wires":[["6c78439d.e098fc","3bab114c.a98e0e"]]},{"id":"6c78439d.e098fc","type":"debug","z":"5eb07143.d2382","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":260,"wires":[]},{"id":"3bab114c.a98e0e","type":"ui_text","z":"5eb07143.d2382","group":"aa0d29b4.785a58","order":3,"width":0,"height":0,"name":"","label":"The Production will be ","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":180,"wires":[]},{"id":"2cd4d9a.7890726","type":"debug","z":"2a4514fb.b4d79c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":200,"wires":[]},{"id":"13fe791.827ec87","type":"ibmiot in","z":"2a4514fb.b4d79c","authentication":"apiKey","apiKey":"5a56328e.43af1c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"30558","applicationId":"","deviceType":"+new","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":300,"y":200,"wires":[["2cd4d9a.7890726","e1ac86b2.e86488"]]},{"id":"e1ac86b2.e86488","type":"function","z":"2a4514fb.b4d79c","name":"pre-token","func":"global.set(\"state\",msg.payload.State_Name)\nglobal.set(\"district\",msg.payload.District_Name)\nglobal.set(\"year\",msg.payload.Crop_Year)\nglobal.set(\"season\",msg.payload.Season)\nglobal.set(\"crop\",msg.payload.Crop)\nglobal.set(\"area\",msg.payload.Area)\nvar apikey=\"LrB2bgEF3viMzSViyk7k5W7EEOunKogQXq3JQCosn26p\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["8f574506.138748"]]},{"id":"8f574506.138748","type":"http request","z":"2a4514fb.b4d79c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":300,"wires":[["5b107722.e3ca18"]]},{"id":"5b107722.e3ca18","type":"function","z":"2a4514fb.b4d79c","name":"pre-prediction","func":"var state=global.get(\"state\")\nvar district=global.get(\"district\")\nvar year=global.get(\"year\")\nvar season=global.get(\"season\")\nvar crop=global.get(\"crop\")\nvar area=global.get(\"area\")\nvar token=msg.payload.access_token\nmsg.headers={\"content-Type\":'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"State_Name\",\"District_Name\",\"Crop_Year\",\"Season\",\"Crop\",\"Area\"]],\"values\":[[state,district,year,season,crop,area]]}]}\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":300,"wires":[["30246d91.25c7b2"]]},{"id":"d82ddd03.02593","type":"debug","z":"2a4514fb.b4d79c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":200,"wires":[]},{"id":"30246d91.25c7b2","type":"http request","z":"2a4514fb.b4d79c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://jp-tok.ml.cloud.ibm.com/ml/v4/deployments/304f4e05-3809-4703-a1a3-11ac98ba1a40/predictions?version=2021-08-23","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":300,"wires":[["1751344.4f58fcc"]]},{"id":"1751344.4f58fcc","type":"function","z":"2a4514fb.b4d79c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":300,"wires":[["d82ddd03.02593","3de7dd50.606dd2"]]},{"id":"3de7dd50.606dd2","type":"ui_text","z":"2a4514fb.b4d79c","group":"5de5f15f.5748e","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1370,"y":300,"wires":[]}]